<div class="detail-container">
    <div id="detail-item">
        <img class="img" src="{{ product.url }}">
    </div>
    <div>
        <h2 class="product-title"> {{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>$ {{ product.price }}</p>    <div>
            <select class="select-input" name="quantity" [(ngModel)]="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <button (click)="addToCart()">Add to cart</button>
    </div>
    <a class="back-link" routerLink="/">&lt; Product List</a>
</div>
